.card {
    width: 350px;
    background: linear-gradient(270deg, rgba(0,127,255,1) 0%, rgba(0,170,255,1) 100%);
    text-align: center;
    padding: 5px 10px 10px 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.card div {
  width: 330px;
}

p {
  padding: 0px;
  margin: 0px;
  text-align: right;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
}

.state {
  padding: 0px;
  margin: 0px;
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  text-align: left;
  color: #001185;
}

.confirmed {
  font-family: 'Work Sans', sans-serif;
  text-align: right;
  font-size: 30px;
}

.active-class {
  font-weight: bold;
}

.deaths {
  font-size: 30px;
}

span {
  text-align: left;
  font-size: 15px;
  font-family: 'Work Sans';
  font-weight: normal;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 310px;
  }

  .card div {
    width: 300px;
  }

  .state {
    font-size: 25px;
  }

  .confirmed {
    font-size: 25px;
  }

  .deaths {
    font-size: 25px;
  }

  span {
    font-size: 13px;
  }
}
