.main {
  width: 65%;
  margin: auto;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main {
    width: 80%;
  }
}

.main h1 {
  margin-bottom: 30px;
}

.main p {
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #059FBE;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
}

blockquote:before {
  color: #059FBE;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  font-family: 'Roboto';
  font-weight: lighter;
}

button {
  margin-top: 30px;
  padding: 5px 40px;
  font-size: 20px;
  border-radius: 30px;
  background-color: #059FBE;
  border-style: none;
  transition: .3s all;
}

button:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  font-family: 'Hind';
  font-weight: normal;
  color: white;
}

h2,h3 {
  text-align: left;
}

ol {
  text-align: left;
}

.qr {
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.table {
  width: 50%;
  border-collapse: collapse;
  margin: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

li a {
  text-decoration: none;
  color: #059FBE;
  font-family: 'Work Sans';
  font-weight: bold;
}
