.parent {
  text-align: center;
}

.heading {
  font-size: 10vw;
  font-family: 'Hind';
  color: #001185;
  margin-top: 28px;
  margin-bottom: 0px;
  padding: 0px;
}

.loading {
  text-align: center;
  font-size: 6vw;
  font-family: 'Work Sans'
}
